@import url('https://fonts.googleapis.com/css?family=Pirata+One|Bilbo+Swash+Caps&display=swap');

@font-face {
  font-family: Morris;
  src: url(https://cdn.statically.io/gh/EmmesCodes/Tipografias/dae9f5bb/MorrisInitials.ttf);
  }

@font-face {
  font-family: Souvenir;
  font-weight: normal;
  src: url(fonts/Souvenir/Souvenir-Light.otf) format('opentype');
  }

@font-face {
  font-family: Souvenir;
  font-weight: bold;
  src: url(fonts/Souvenir/Souvenir-Medium.otf) format('opentype');
  }

  /*@font-face {
  font-family: Souvenir;
  font-weight: italic;
  src: url(fonts/Souvenir/Souvenir-LightItalic.ttf) format('truetype');
  }*/

:root {
  --fontSize: calc((1vw + 1vh) * .75);
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
	height: 100%;
}

body{
  font: var(--fontSize)/200% 'Bilbo Swash Caps', cursive;
  background:url(240425_TTK_FB-banner_v1.jpg) no-repeat center/cover;

  
  display:flex;
  flex-direction:column;
  margin:0;
}

main {
  
  position: relative;
  width: 100%;
  flex: 1;
  min-height:100vh;
  padding-bottom:none !important;
}

.content {
  display: flex;
  flex:1;
}

.footer {
background-color: black !important;



  padding:.75rem 0;
text-align:center;
 font: .8em/2em Souvenir, sans-serif;
 transform: translate(0, -50%) !important;
}

.footer a {
  color:white;

}

.footer a:hover, .footer a:active {
  color:darkgray;

}

/* WARNING ! This solution seems to not work on all navigators.
This problem was reported to me on :
https://stackoverflow.com/questions/14585101/old-paper-background-texture-with-just-css/

August 2021 : ok on Chrome v92+, Firefox v90+, Edge v92+
*/

#parchment {
  position: absolute;
  display: flex;
	width: 75%;
  /* center page with absolute position */
  top: 50%; left: 50%; transform: translate(-50%, -50%);
  margin: 2em 0;
	padding: 0em 2em;
	box-shadow: 2px 3px 15px black, 0 0 125px #8f5922 inset;
	background: #fffef0;
  /* v2.1 : borders effect with SVG : try to play with scale to change them */
  filter: url(#wavy2);
  /* v2.2 : Noise added for a vellum paper effect */
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
}

/* v2.3 : folds added , remove this part if you don't want them
   I'll try to make it look like crumpled paper if I have time. */
#parchment:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(#fff3, #fff0 2% 24%, #fff2 25%, #4321 0, #0000 27% 48%, #9632 50%, #fff2 0, #fff0 52% 73%, #9632 75%, #fff3 0, #fff0 78% 97%, #9632);
}

main p {
  font-size: 2.25em;
  color: #7F3300;
  margin-top: .75em;
  text-align: justify;
  
}

.modal-body strong {
  font-weight: bold;
}

.modal-body p, .modal-body li, .modal-body table {
  font-size: .9em;
  color: black;
  line-height: 1.5em;
  font-family: 'Souvenir';
}
.modal-body h3 {
margin-bottom: 0em !important;
}

.modal-body ul, .modal-body ol{
  margin-top: 0em !important;
  margin-bottom: 2em !important;
}

.modal-body table {
  overflow-x: auto;
  max-width: 85%;
  margin: 1em auto;
}

.modal-body td, .modal-body th{
 vertical-align: top;
}

.modal-body th {
  padding: .25em;
  border-bottom: 1px solid #7F3300;
  
}

.modal-body td {
padding: .25em 1em 1em .25em;
}

.modal-body a{
  color: #7F3300;
}

/*div p:not(:first-child)::first-letter {
  float: left;
  font: 1.7em/1em Morris;
  /* a little relief for the first letter*/
  /*text-shadow: 1px 1px 1px black;
  margin: 0 .5rem;
}*/

#contain {
  position: absolute;
 	display: flex;
  flex-direction: column;
	width: 100%;
  height: auto;

  top: 50%; left: 50%; transform: translate(-50%, -60%);
  
}

.card {
    display: flex;
    justify-content: center;
    background: none !important;
	  width: 100%;
    height: auto;
    margin: auto;
    border-width: 0 !important;
    padding-top: 1%;
    text-align:center;
}

input {
  /*background-color: oldlace !important;*/
  background: none !important;
  border: none !important;
  border-radius: 0px !important;
  border-bottom:thin dashed #212529 !important;
  font: 32px/1.2 'Bilbo Swash Caps', cursive !important;
  text-align: center;
  width: 50% !important;
  position:relative;
  margin:auto;
  max-width: 350px;


}

img.logo {
  filter: drop-shadow(0px 0px 15px rgba(58, 36, 14, 0.65));
  height: auto;
  width: 75%;
  display: block;
  margin: auto;
  max-width: 450px;
  position: relative;
}

.inkTitle {
  font-size: 3em;
	font-family: Pirata One, sans-serif;
  text-align: center;
  line-height: 1.5em;
	color: saddlebrown;
}

h2.inkTitle {
  font-size: 2em;

}



.btn {
  padding: .1em 2em !important;
  
}

/* HTML: <div class="ribbon">Your text content</div> */
.btn-primary {
  font-family: Pirata One, sans-serif !important;
  font-size: 28px !important;
  font-weight: normal;
  color: goldenrod;
  border: none !important;
  border-radius: 0px !important;
  letter-spacing: .025em;
}
.btn-primary {
  --r: .8em; /* control the cutout */
  
  border-block: .5em solid #0000 !important;
  padding-inline: .5em calc(var(--r) + .25em) !important;
  line-height: 1.8;
  clip-path: polygon(100% 0,0 0,0 100%,100% 100%,calc(100% - var(--r)) calc(100% - .25em),100% 50%,calc(100% - var(--r)) .25em);
  background:
   radial-gradient(.2em 50% at left,#000a,#0000) border-box,
   maroon padding-box !important; /* the color  */
  width: fit-content;
  filter: drop-shadow(-25px 2px 5px rgba(0, 0, 0, 0.5));
}


#labarum {
  width: 20%;
  margin-left: calc((100% - 20%) / 2);
  height: auto;
}

.cachet {
  /* image width = 210px and height = 250px */
  /*  5 is one common denominator 210 = 5 * 42 */
  width: calc((100vw * 5) / 42);
  height: auto; /* Height is auto ajusted */
  margin-top: 4rem;
  margin-left: auto;
}

#labarum img, .cachet img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#signature {
  text-align: right;
  color: black;
  font-size: 250%;
}

.copyright::before {
  content: "\00A9";
  margin-right: 0.25em;
}